* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.navbar {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #e6e8e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.left > img {
  width: 200px;
  height: 70px;
}

.middle {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle > .middle-list {
  font-size: 13px;
  font-weight: bold;
  margin-left: 30px;
  /* text-align: center; */
}
.middle > .middle-list > a {
  text-decoration: none;
  color: black;
}

.log-sign-btn {
  width: 120px;
  font-size: 13px;
  background-color: #2196f3;
  text-align: center;
  border-radius: 20px;
  color: white;
  padding: 8px;
  font-weight: bold;
  position: relative;
  top: -10px;
  right: 1470px;
  cursor: pointer;
}

.india {
  position: relative;
  top: -12px;
  right: 1450px;
  cursor: pointer;
}
.chev-down {
  position: relative;
  top: -12px;
  right: 1480px;
}

.right {
  padding-right: 20px;
}

.right-list {
  margin-right: 10px;
}

.right-list > i {
  /* margin-left: 5px;
  margin-top: 5px; */
  color: #000; /* Black color for visibility */
  font-size: 16px;
}

.subnav {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #e6e8e9;
}

.subnav > .sub-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  left: -140px;
}

.subnav > .sub-list > li {
  margin-left: 35px;
  list-style: none;
  color: #202020;
  padding: 13px 8px;
  /* transition: background-color 0.3s, transform 0.2s; */
}

.subnav > .sub-list > li:hover {
  background-color: rgb(219, 236, 243);
  border-radius: 5px;
  cursor: pointer;
  /* transform: scale(1.05); */
}

.banner {
  background-color: #2f81ed;
  width: 100%;
  min-height: 250px;
  background-image: linear-gradient(to right, #2f80ed, #56ccf2);
}

.left-btns {
  position: relative;
  left: 16%;
  top: 40px;
}
.btns {
  cursor: pointer;
  display: inline-block;
  width: 86px;
  height: 30px;
  font-size: 12px;
  border-radius: 15px;
  border: none;
  text-align: center;
  font-weight: 550;
}

.btn1 {
  color: #1853a2;
  background-color: #fff;
}
.btn2 {
  background: none;
  color: #cad5f5;
}
.btn2:hover {
  background-color: #fff;
  color: #1853a2;
}

.btn3:hover {
  background-color: #fff;
  color: #1853a2;
}

.btn3 {
  background: none;
  color: #cad5f5;
}
.right {
  position: relative;
  left: 70%;
  top: 12px;
  font-size: 14px;
  color: #fff;
}

.search-bar {
  width: 65%;
  height: 90px;
  background-color: white;
  position: relative;
  left: 300px;
  top: 30px;
  border-radius: 10px;
  display: flex;
}

.from {
  width: 22.5%;
  height: 100%;
  border-right: 1px solid #e6e8e9;
  padding-top: 10px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.from:hover {
  background-color: rgb(219, 236, 243);
}

.from-para1 {
  font-size: small;
  margin-left: 10px;
  color: #7e7979;
}

.arrow {
  position: relative;
  left: 97.2%;
  top: 12px;
  color: #7e7979;
  opacity: 0.3;
}
.from-head {
  font-size: 28px;
  margin-left: 10px;
  margin-top: -12px;
}

.from-para2 {
  font-size: 12px;
  margin-left: 10px;
  margin-top: 5px;
}

.to {
  width: 22.5%;
  height: 100%;
  border-right: 1px solid #e6e8e9;
  padding-top: 10px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.to:hover {
  background-color: rgb(219, 236, 243);
}

.to-para1 {
  font-size: small;
  margin-left: 20px;
  color: #7e7979;
}

.to-head {
  font-size: 28px;
  margin-left: 20px;
}

.to-para2 {
  font-size: 12px;
  margin-left: 20px;
  margin-top: 8px;
}

.daparture {
  width: 11.25%;
  height: 100%;
  border-right: 1px solid #e6e8e9;
  padding-top: 10px;
  transition: all 0.3s linear;
  cursor: pointer;
}
.daparture:hover {
  background-color: rgb(219, 236, 243);
}
.dep-para1 {
  font-size: small;
  margin-left: 10px;
  color: #7e7979;
}

.dep-head {
  font-size: 28px;
  margin-left: 10px;
  margin-top: 5px;
}

.date {
  font-size: 12px;
  position: relative;
  left: 35px;
  bottom: 25px;
  margin-left: 8px;
  font-weight: 550;
}

.fa-calendar-days {
  position: relative;
  left: 38px;
  bottom: 25px;
  color: #7e7979;
  opacity: 0.3;
  font-size: 20px;
}

.dep-para2 {
  position: relative;
  bottom: 15px;
  margin-left: 10px;
  font-size: 12px;
}

.return {
  width: 11.25%;
  height: 100%;
  border-right: 1px solid #e6e8e9;
  padding-top: 10px;
  transition: all 0.3s linear;
  cursor: pointer;
}

.return:hover {
  background-color: rgb(219, 236, 243);
}

.ret-para1 {
  font-size: small;
  margin-left: 10px;
  color: #7e7979;
}
.ret-para2 {
  font-size: 12px;
  margin-left: 5px;
  color: #7e7979;
  margin-top: 12px;
}

.calender2 {
  position: relative;
  left: 113px;
  bottom: 28px;
}

.travel {
  width: 15.5%;
  height: 100%;
  padding-top: 10px;
  margin-left: 12px;
  transition: all 0.3s linear;
  cursor: pointer;
}

.travel:hover {
  background-color: rgb(219, 236, 243);
}

.travel-para1 {
  font-size: small;
  margin-left: 10px;
  color: #7e7979;
}

.travel-head {
  font-size: 28px;
  margin-left: 10px;
  margin-top: 5px;
}
.travel-word {
  position: relative;
  left: 28px;
  bottom: 25px;
  font-size: 14px;
  font-weight: 550;
}

.travel-para2 {
  position: relative;
  bottom: 15px;
  left: 15px;
  font-size: 12px;
}

.search-icon {
  width: 16.5%;
  height: 100%;
  border-right: 1px solid #e6e8e9;
  padding-top: 10px;
  margin-left: 12px;
  text-align: center;
  background-color: #ef6614;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.5s linear;
  cursor: pointer;
}

.search-head {
  color: #fff;
  margin-top: 20px;
  font-family: 20px;
}
.search-icon:hover {
  background-color: #d35a14;
}

.checkboxes {
  position: relative;
  top: 50px;
  left: 16%;
}

.checkboxes input[type="radio"] {
  cursor: pointer;
  width: 1.2rem;
}

.checkboxes label {
  color: #fff;
  padding: 5px;
}
.checkboxes label:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
}
.offer {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flag-icon {
  width: 18px;
}

.flag-icon1 {
  position: relative;
  top: 30px;
  right: 25px;
}
.flag-icon2 {
  position: relative;
  left: 103%;
  bottom: 28px;
}

.offer-list ul {
  display: flex;
}

.offer-list ul li {
  list-style-type: none;
  margin-right: 25px;
  font-weight: 550;
  padding: 10px 15px;
}

.offer-list ul .best-offer {
  background-color: #3b82df;
  color: #fff;
  border-radius: 20px;
}

.card-container {
  width: 100%;
  display: flex;
}

.cards {
  width: 30%;
  height: 300px;
  background-image: linear-gradient(
    180deg,
    rgb(255 255 255) 8%,
    rgb(250 253 255) 100%
  );
  border-radius: 10px;
  box-shadow: 0 0 7px rgb(0 -1 6 / 6%) inset;
  margin-top: 2rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
  border: 1px solid #d4d2d2;
  box-shadow: 2px 2px #d4d2d2;
  cursor: pointer;
  transition: all 0.5s linear;
}

.cards:hover {
  transform: scale(1.05);
}

.background {
  width: 95%;
  height: 200px;
  margin-left: 10px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #d4453f, #ffe57d);
  color: #fff;
}

.card-para1 {
  margin: 10px 0 0 15px;
  position: relative;
  top: 5px;
}

.card-head {
  margin: 15px 0 0 15px;
  font-size: 2rem;
  font-weight: bold;
}

.image-icon {
  width: 200px;
  height: 250px;
  position: relative;
  left: 62%;
  bottom: 120px;
}

.image-icon > img {
  width: 150px;
  height: 190px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}

.card-para2 {
  margin: 10px 0 0 15px;
  font-weight: bold;
}

.card-para3 {
  margin: 10px 0 0 15px;
  color: #7e7979;
}

.ofr-btn {
  background-color: #2196f3;
  border: none;
  margin-top: 1.5rem;
  padding: 10px 25px;
  border-radius: 20px;
  color: #e6e8e9;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s linear;
}

.ofr-btn:hover {
  background-color: #1c86dd;
}

.refund-container {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.refund-box {
  width: 55%;
  height: 130px;
  margin: 5px 25px;
  background-image: linear-gradient(
    to right,
    #76c6f5,
    #62aceb,
    #31d2c2,
    #12c29f
  );
  border-radius: 10px;
}

.atm-image {
  width: 20%;
  height: 130px;
  border-radius: 10px;
}

.refund-container .refund-box .image1 {
  height: 80px;
  margin-left: 15px;
  margin-top: 25px;
}

.refund-head {
  position: relative;
  bottom: 80%;
  left: 20%;
}
.refund-para {
  position: relative;
  bottom: 95%;
  left: 35%;
}

.refund-list {
  position: relative;
  bottom: 80%;
  left: 22%;
}

.refund-list li {
  list-style-type: circle;
}

.refund-container .refund-box .image2 {
  position: relative;
  width: 6rem;
  bottom: 155%;
  right: -87%;
}

.refund-container .refund-box .term {
  position: relative;
  left: 87%;
  bottom: 155%;
  font-size: 12px;
}

.refund-container .atm-image img {
  width: 100%;
  height: 130px;
  border-radius: 10px;
  cursor: pointer;
  transform: scale(0.8);
  transition: all 0.3s linear;
}

.refund-container .atm-image img:hover {
  transform: scale(1);
}

.flight-container {
  width: 100%;
  height: 600px;
}
.flight-container > h1 {
  text-align: center;
  margin: 20px 0;
}
.flight-route-parent {
  width: 50%;
  height: 80%;
  position: relative;
  top: 6%;
  left: 23%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  align-items: center;
  position: relative;
}

.flight-route-parent::before {
  background-image: url("/easemytripclone/earth.png");
  background-size: cover;
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.055;
}

.flight-route-child {
  width: 250px;
  height: 68px;
  border-radius: 10px;
  transition: all 0.3s linear;
  cursor: pointer;
  position: relative;
}

.flight-route-child:hover {
  background-color: rgb(226, 238, 243);
  transform: scale(1.05);
}
.flight-common {
  position: relative;
  left: 70px;
  bottom: 50px;
}

.flight-route-child img {
  border-radius: 10px;
}
.com-para {
  color: #2f80ed;
  font-weight: bold;
  line-height: 50px;
}
.com-head {
  position: relative;
  bottom: 60px;
}
.information {
  width: 100%;
  height: 250px;
  /* background-color: #ffe57d; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.imp-info {
  width: 25%;
  height: 100px;
  border-radius: 10px;
  border: 1px solid #bcd3e1;
}

.air-info {
  width: 25%;
  height: 100px;
  border: 1px solid #bcd3e1;
  margin-left: 15px;
  border-radius: 10px;
}

.info-img {
  height: 100%;
  width: 80px;
  background-color: #bcd3e1;
  border-bottom-right-radius: 60%;
  border-top-left-radius: 10px;
  box-shadow: 5px 5px #d6dde1;
}

.info-img > img {
  margin-top: 32px;
  margin-left: 18px;
  height: 30px;
}
.com-imp-info {
  position: relative;
  left: 100px;
  bottom: 80px;
}
